//
//
// An example for dark theme
//
// Also you can copy variables from _variables.scss to _custom.scss
// to customize typography, spacing and other variables.
//
//


// // Background color
$color-background: #F7F7F7;
// // For code, th
// $color-background-over: rgba(255, 255, 255, 0.05);
// // For selected area
// $color-background-selected: rgba(255, 255, 255, 0.1);

// // Border color
$color-border: #E9E9E9;

// // Text color
// $color-text: #aaa;
// $color-text-muted: #777;
// // The link color
// $color-text-link: hsl(50, 100%, 50%);

// // For preview section
$smde-color-background-preview: #FCFCFC;
// // Image alt, HTML tag and attribute
// $smde-color-text-tag: hsl(80, 50%, 50%);

$font-size-base: 10px;
$font-size-code: $font-size-base * 1.4 !default;

// Main font-size
$font-size: $font-size-base * 1.6 !default;
// Headers
$font-size-h1: $font-size-base * 1.6 !default;
$font-size-h2: $font-size-base * 1.6 !default;
$font-size-h3: $font-size-base * 1.6 !default;
$font-size-h4: $font-size-base * 1.6 !default;
$font-size-h5: $font-size-base * 1.6 !default;
$font-size-h6: $font-size-base * 1.6 !default;